
:root {
  --bg: #262B63;
  --fg: #F5F4F2;
  --txt: #F5F4F2;
  --acnt-a: #D27A6B;
  --acnt-b: #4B508F;
  --acnt-c: #675786;
  --acnt-d: #d4b2a4;
  --acnt-e: #ffaa00;
  --clr: #00000000;
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

@font-face {
  src: url(./../fonts/Nunito/Nunito-Regular.ttf);
  font-family: mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: mono;
}

.outer-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--acnt-a);
}

.menu {
  width: 4.5em;
  height: 4.5em;
  background: var(--acnt-c);
  border-radius: 50%;
  position: absolute;
  top: 4em;
  right: 4em;
  z-index: 20;
  box-shadow: inset -.2em -.2em var(--acnt-a);
  border: 2px outset var(--acnt-a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: .1em;
  transition: .4s;
}

.menu:hover {
  cursor: none;
  box-shadow: inset -.2em -.2em var(--acnt-e);
}

.menu-div {
  height: .3em;
  width: 75%;
  background: var(--acnt-d);
  border-radius: 50%;
  transition: .7s;
  transition-timing-function: ease-in-out;
}

.menu-div:nth-child(1) {
  width: 40%;
  transition: .8s;
}

.menu-div:nth-child(3) {
  width: 40%;
  transition: .7s;
}

.menu-panel {
  background: var(--bg);
  width: 0;
  opacity: 0;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 6em;
  display: none;
  transition: .2s;
  transition-timing-function: ease-in-out;
}

.menu-panel-item {
  color: var(--acnt-a);
  letter-spacing: .1em;
  font-weight: 600;
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-radius: .6em;
  opacity: 0;
  transition: .4s;
  gap: 1em;
}

.high-score-display {
  font-weight: 600;
}

.display-field {
  top: 0;
  width: calc(var(--width) / 2);
  height: 4em;
  background: var(--acnt-c);
  box-shadow: var(--acnt-b) 0 0 .2em .1em;
  border-radius: 0 0 2em 2em;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 1em;
  border-left: 2px outset var(--acnt-b);
  border-right: 2px outset var(--acnt-b);
  border-bottom: 2px outset var(--acnt-b);
}

.display-field-item {
  height: 2em;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--acnt-a);
  box-shadow: var(--acnt-c) 0 0 .2em .1em;
  border-radius: 1em;
  border: 2px outset var(--acnt-a);
  color: var(--txt);
  font-weight: 600;
}

.main-field {
  width: var(--width);
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--acnt-c);
  box-shadow: var(--acnt-b) 0 0 .2em .1em;
  border: 2px outset var(--acnt-b);
  position: relative;
  border-radius: .6em;
  overflow: hidden;
}

.main-field-shader {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
  transition: .7s;
}

.droplet {
  background: var(--acnt-e);
  width: 3em;
  height: 3em;
  position: absolute;
  border-radius: 50%;
  box-shadow: var(--acnt-c) 0 0 .1em .1em, inset -.5em -.5em .2em var(--acnt-c);
  transition: .7s;
  cursor: pointer;
  z-index: 0;
}

.droplet:hover {
  background: var(--acnt-d);
}

.droplet:active {
  transform: translateY(20px);
}

.play {
  display: flex;
  width: 7em;
  height: 3em;
  background: var(--acnt-a);
  color: var(--txt);
  position: absolute;
  transition: .4s;
  opacity: 100;
  border-radius: .9em;
  box-shadow: var(--acnt-b) 0 0 .2em .1em;
  z-index: 1;
  border: 2px outset var(--acnt-b);
  letter-spacing: .1em;
  font-family: mono;
  font-weight: 600;
}

.play:hover {
  background: var(--acnt-e);
  cursor: pointer;
}

.play:active {
  color: var(--acnt-e);
  box-shadow: var(--acnt-e) 0 0 .2em .1em;
  border: 2px outset var(--acnt-e);
  transform: translateY(10px);
}

@media (max-width: 1080px) {
  .menu {
    top: 1em;
    right: 1em;
  }

  .menu-panel {
    padding: 2em;
  }

  .display-field {
    width: var(--width);
    padding: .5em 1em;
  }

  .display-field-item {
    width: 50%;
  }

  .main-field {
    width: var(--width-b);
    height: var(--height-b);
  }
}

