
:root {
  --bg: #262b63;
  --fg: #f5f4f2;
  --txt: #f5f4f2;
  --acnt-a: #d27a6b;
  --acnt-b: #4b508f;
  --acnt-c: #675786;
  --acnt-d: #d4b2a4;
  --acnt-e: #ffaa22;
  --droplet: #ffaa22;
  --main: #675786;
  --panel-txt: var(--acnt-a);
  --bd: var(--acnt-b);
  --clr: #00000000;
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Light'] {
  --bg: #f6f7f9;
  --fg: #222222;
  --txt: #222222;
  --acnt-a: #c9c9d5;
  --acnt-b: #8584a3;
  --acnt-c: #837ea6;
  --acnt-d: #6d6696;
  --acnt-e: #5c558a;
  --droplet: #ffaa22;
  --main: #837ea6;
  --panel-txt: #5c558a;
  --bd: var(--acnt-a);
  --bd-b: var(--acnt-a);
  --clr: #00000000;
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Dark'] {
  --bg: #030303;
  --fg: #f1fdff;
  --txt: #f1fdff;
  --acnt-a: #070707;
  --acnt-b: #010101;
  --acnt-c: #363636;
  --acnt-d: #a0a0a0;
  --acnt-e: #414141;
  --droplet: #ffaa22;
  --main: #050505;
  --panel-txt: #f1fdff;
  --bd: #1f1f1f;
  --bd: #0a0204;
  --bd-b: #0a0406;
  --clr: #00000000;
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Peachy'] {
  --bg: #262b63;
  --fg: #f5f4f2;
  --txt: #f5f4f2;
  --acnt-a: #d27a6b;
  --acnt-b: #4b508f;
  --acnt-c: #675786;
  --acnt-d: #d4b2a4;
  --acnt-e: #ffaa22;
  --droplet: #ffaa22;
  --main: #675786;
  --panel-txt: var(--acnt-a);
  --bd: var(--acnt-b);
  --bd-b: var(--acnt-a);
  --clr: #00000000;
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Dune'] {
  --bg: #ddd4c9;
  --fg: #272624;
  --txt: #272624;
  --acnt-a: #c0afa5;
  --acnt-b: #59564f;
  --acnt-c: #403432;
  --acnt-d: #604939;
  --acnt-e: #2c2b28;
  --droplet: #ffaa22;
  --main: #ddd4c9;
  --panel-txt: #675786;
  --bd: var(--bg);
  --bd-b: var(--acnt-a);
  --clr: #00000000;
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Cerise'] {
  --bg: #2f222f;
  --fg: #b0b0ba;
  --txt: #b0b0ba;
  --acnt-a: #220a22;
  --acnt-b: #b36790;
  --acnt-c: #b5acc4;
  --acnt-d: var(--acnt-b);
  --acnt-e: #774466;
  --droplet: #ffaa22;
  --main: #675786;
  --panel-txt: #d27a6b;
  --bd: var(--acnt-b);
  --bd-b: var(--acnt-b);
  --clr: #00000000;
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Olive'] {
  --bg: #14191c;
  --fg: #0f1012;
  --txt: #b4b062;
  --acnt-a: #3a4632;
  --acnt-b: #b39535;
  --acnt-c: #333f11;
  --acnt-d: #b4b062;
  --acnt-e: #6b1e1b;
  --droplet: #ffaa22;
  --main: #023d23;
  --panel-txt: var(--acnt-b);
  --bd: var(--acnt-a);
  --bd-b: var(--acnt-a);
  --clr: #00000000;
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

@font-face {
  src: url(./../fonts/Nunito/Nunito-Regular.ttf);
  font-family: mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: mono;
}

.outer-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--acnt-a), var(--bg), var(--bg), var(--acnt-a));
}

.menu {
  width: 4.5em;
  height: 4.5em;
  background: var(--main);
  border-radius: 50%;
  position: absolute;
  top: 4em;
  right: 4em;
  z-index: 20;
  box-shadow: inset -.2em -.2em var(--acnt-a);
  border: 3px outset var(--bd-b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: .1em;
  transition: .4s;
}

.menu:hover {
  cursor: none;
  box-shadow: inset -.2em -.2em var(--acnt-e);
}

.menu-div {
  height: .3em;
  width: 75%;
  background: var(--acnt-d);
  border-radius: 50%;
  transition: .7s;
  transition-timing-function: ease-in-out;
}

.menu-div:nth-child(1) {
  width: 40%;
  transition: .8s;
}

.menu-div:nth-child(3) {
  width: 40%;
  transition: .7s;
}

.menu-panel {
  background: var(--bg);
  width: 0;
  opacity: 0;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 6em;
  display: none;
  transition: .2s;
  transition-timing-function: ease-in-out;
}

.menu-panel-item {
  color: var(--panel-txt);
  letter-spacing: .1em;
  font-weight: 600;
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-radius: .6em;
  opacity: 0;
  transition: .4s;
  gap: 1em;
}

.menu-panel-item-b {
  color: var(--panel-txt);
  letter-spacing: .1em;
  font-weight: 600;
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-radius: .6em;
  opacity: 0;
  transition: .4s;
  gap: 1em;
}

.menu-panel h3 {
  color: var(--panel-txt);
}

.high-score-display {
  font-weight: 600;
}

select {
  background: var(--bg);
  color: var(--panel-txt);
  letter-spacing: .1em;
  padding: 1em;
  border-radius: .6em;
  display flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.display-field {
  top: 0;
  width: calc(var(--width) / 2);
  height: 4em;
  background: var(--main);
  box-shadow: var(--bd) 0 0 .1em .1em;
  border-radius: 0 0 2em 2em;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 1em;
  border-left: 2px outset var(--bd);
  border-right: 2px outset var(--bd);
  border-bottom: 2px outset var(--bd);
}

.display-field-item {
  height: 2em;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--acnt-a);
  box-shadow: var(--bd) 0 0 .2em .1em;
  border-radius: 1em;
  border: 2px outset var(--bd);
  color: var(--txt);
  font-weight: 600;
}

.main-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.orb-field {
  background: var(--acnt-a);
  height: 2em;
  border: 2px solid #00ff00;
  width: var(width);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main);
  box-shadow: var(--bd) 0 0 .1em .1em;
  border: 2px outset var(--bd);
  position: relative;
  border-radius: 50%;
  display: flex;
  gap: 1em;
}

.orb-item {
  width: 1em;
  height: .7em;
  background: var(--droplet);
  border-radius: 50%;
  box-shadow: inset -.2em -.2em .2em var(--acnt-d);
  transition: .4s;
}

.main-field {
  width: var(--width);
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main);
  box-shadow: var(--bd) 0 0 .1em .1em;
  border: 2px outset var(--bd);
  position: relative;
  border-radius: .6em;
  overflow: hidden;
}

.main-field-shader {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
  transition: .7s;
}

.droplet {
  background: var(--droplet);
  width: 4em;
  height: 4em;
  position: absolute;
  border-radius: 50%;
  box-shadow: var(--main) 0 0 .1em .1em, inset -.5em -.5em .2em var(--main);
  transition: .7s;
  cursor: pointer;
  z-index: 0;
}

.droplet:hover {
  background: var(--acnt-d);
}

.droplet:active {
  transform: translateY(20px);
}

.play {
  display: flex;
  width: 7em;
  height: 3em;
  background: var(--acnt-a);
  color: var(--txt);
  position: absolute;
  transition: .4s;
  opacity: 100;
  border-radius: .9em;
  box-shadow: var(--bd) 0 0 .2em .1em;
  z-index: 1;
  border: 2px outset var(--bd);
  letter-spacing: .1em;
  font-family: mono;
  font-weight: 600;
}

.play:hover {
  background: var(--acnt-e);
  cursor: pointer;
}

.play:active {
  color: var(--acnt-e);
  box-shadow: var(--acnt-e) 0 0 .2em .1em;
  border: 2px outset var(--acnt-e);
  transform: translateY(10px);
}

@media (max-width: 1080px) {
  .menu {
    top: 1em;
    right: 1em;
  }

  .menu-panel {
    padding: 2em;
  }

  .display-field {
    width: var(--width);
    padding: .5em 1em;
  }

  .display-field-item {
    width: 50%;
  }

  .main-field {
    width: var(--width-b);
    height: var(--height-b);
  }

  .droplet {
    width: 3.2em;
    height: 3.2em;
  }
}

