
:root {
  --bg: #262b63;
  --fg: #f5f4f2;
  --txt: #f5f4f2;
  --acnt-a: #d27a6b;
  --acnt-b: #4b508f;
  --acnt-c: #675786;
  --acnt-d: #d4b2a4;
  --acnt-e: #ffaa22;
  --acnt-inset: #4b508f;
  --droplet: #ffaa22;
  --droplet-acnt: #77220f;
  --main: #675786;
  --main-field: radial-gradient(#070707, #0e0e0e);
  --panel-txt: var(--acnt-a);
  --play: #ff2244;
  --bd: var(--acnt-b);
  --bd-b: var(--acnt-a);
  --orb-active: #ff0077;
  --orb-inactive: #222222;
  --booster-active: #99ffaa;
  --booster-inactive: #222222;
  --clr: #00000000;
  --main-field-bw: .4em;
  --main-field-bw-b: .2em;
  --width: calc(40vw - var(--main-field-bw));
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Light'] {
  --bg: #f6f7f9;
  --fg: #222222;
  --txt: #222222;
  --acnt-a: #c9c9d5;
  --acnt-b: #8584a3;
  --acnt-c: #837ea6;
  --acnt-d: #6d6696;
  --acnt-e: #5c558a;
  --acnt-inset: #8584a3;
  --droplet: #ffaa22;
  --droplet-acnt: #c9c9d5;
  --main: #837ea6;
  --main-field: radial-gradient(#070707, #0e0e0e);
  --panel-txt: #5c558a;
  --play: #ff2244;
  --bd: var(--acnt-a);
  --bd-b: var(--acnt-a);
  --orb-active: #ff0077;
  --orb-inactive: #222222;
  --booster-active: #99ffaa;
  --booster-inactive: #222222;
  --clr: #00000000;
  --main-field-bw: .4em;
  --main-field-bw-b: .2em;
  --width: calc(40vw - var(--main-field-bw));
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Dark'] {
  --bg: #010101;
  --fg: #f1fdff;
  --txt: #f1fdff;
  --acnt-a: #020202;
  --acnt-b: #010101;
  --acnt-c: #363636;
  --acnt-d: #a0a0a0;
  --acnt-e: #2f2f2f;
  --acnt-inset: #070707;
  --droplet: #ffaa22;
  --droplet-acnt: #77220f;
  --main: #090909;
  --main-field: radial-gradient(#070707, #0e0e0e);
  --panel-txt: #f1fdff;
  --play: #ff2244;
  --bd: #020202;
  --bd-b: #060606;
  --orb-active: #ff0077;
  --orb-inactive: #222222;
  --booster-active: #99ffaa;
  --booster-inactive: #222222;
  --clr: #00000000;
  --main-field-bw: .4em;
  --main-field-bw-b: .2em;
  --width: calc(40vw - var(--main-field-bw));
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Peachy'] {
  --bg: #262b63;
  --fg: #f5f4f2;
  --txt: #f5f4f2;
  --acnt-a: #d27a6b;
  --acnt-b: #4b508f;
  --acnt-c: #675786;
  --acnt-d: #d4b2a4;
  --acnt-e: #ffaa22;
  --acnt-inset: #4b508f;
  --droplet: #ffaa22;
  --droplet-acnt: #77220f;
  --main: #675786;
  --main-field: radial-gradient(#070707, #0e0e0e);
  --panel-txt: var(--acnt-a);
  --play: #ff2244;
  --bd: var(--acnt-b);
  --bd-b: var(--acnt-a);
  --orb-active: #ff0077;
  --orb-inactive: #222222;
  --booster-active: #99ffaa;
  --booster-inactive: #222222;
  --clr: #00000000;
  --main-field-bw: .4em;
  --main-field-bw-b: .2em;
  --width: calc(40vw - var(--main-field-bw));
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Dune'] {
  --bg: #ddd4c9;
  --fg: #272624;
  --txt: #272624;
  --acnt-a: #c0afa5;
  --acnt-b: #59564f;
  --acnt-c: #403432;
  --acnt-d: #604939;
  --acnt-e: #2c2b28;
  --acnt-inset: #ddd4c9;
  --droplet: #ffaa22;
  --droplet-acnt: #77220f;
  --main: #ddd4c9;
  --main-field: radial-gradient(#070707, #0e0e0e);
  --panel-txt: #675786;
  --play: #ff2244;
  --bd: var(--bg);
  --bd-b: var(--acnt-a);
  --orb-active: #ff0077;
  --orb-inactive: #222222;
  --booster-active: #99ffaa;
  --booster-inactive: #222222;
  --clr: #00000000;
  --main-field-bw: .4em;
  --main-field-bw-b: .2em;
  --width: calc(40vw - var(--main-field-bw));
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Cerise'] {
  --bg: #2f222f;
  --fg: #b0b0ba;
  --txt: #b0b0ba;
  --acnt-a: #220a22;
  --acnt-b: #b36790;
  --acnt-c: #b5acc4;
  --acnt-d: var(--acnt-b);
  --acnt-e: #774466;
  --acnt-inset: #b36790;
  --droplet: #ffaa22;
  --droplet-acnt: #77220f;
  --main: #675786;
  --main-field: radial-gradient(#070707, #0e0e0e);
  --panel-txt: #d27a6b;
  --play: #ff2244;
  --bd: var(--acnt-b);
  --bd-b: var(--acnt-b);
  --orb-active: #ff0077;
  --orb-inactive: #222222;
  --booster-active: #99ffaa;
  --booster-inactive: #222222;
  --clr: #00000000;
  --main-field-bw: .4em;
  --main-field-bw-b: .2em;
  --width: calc(40vw - var(--main-field-bw));
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

html[data-theme='Olive'] {
  --bg: #14191c;
  --fg: #0f1012;
  --txt: #b4b062;
  --acnt-a: #3a4632;
  --acnt-b: #b39535;
  --acnt-c: #333f11;
  --acnt-d: #b4b062;
  --acnt-e: #6b1e1b;
  --acnt-inset: #4a5642;
  --droplet: #ffaa22;
  --droplet-acnt: #77220f;
  --main: #023d23;
  --main-field: radial-gradient(#070707, #0e0e0e);
  --panel-txt: var(--acnt-b);
  --play: #ff2244;
  --bd: #4a5642;
  --bd-b: #6a7662;
  --orb-active: #ff0077;
  --orb-inactive: #222222;
  --booster-active: #99ffaa;
  --booster-inactive: #222222;
  --clr: #00000000;
  --main-field-bw: .4em;
  --main-field-bw-b: .2em;
  --width: calc(40vw - var(--main-field-bw));
  --width: 40vw;
  --height: var(--width);
  --width-b: 90vw;
  --height-b: var(--width-b);
}

@font-face {
  src: url(./../fonts/Nunito/Nunito-Regular.ttf);
  font-family: mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: mono;
  overflow: hidden;
}

.outer-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4em;
  background: linear-gradient(90deg, var(--acnt-a), var(--bg), var(--bg), var(--acnt-a));
  overflow: hidden;
}

.menu {
  width: 4.5em;
  height: 4.5em;
  background: var(--main);
  border-radius: 50%;
  position: absolute;
  top: 4em;
  right: 4em;
  z-index: 7;
  box-shadow: inset -.2em -.2em var(--acnt-a);
  border: 3px outset var(--bd-b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: .1em;
  transition: .4s;
}

.menu:hover {
  cursor: none;
  box-shadow: inset -.2em -.2em var(--acnt-e);
}

.menu-div {
  height: .3em;
  width: 75%;
  background: var(--acnt-d);
  border-radius: 50%;
  transition: .7s;
  transition-timing-function: ease-in-out;
}

.menu-div:nth-child(1) {
  width: 40%;
  transition: .8s;
}

.menu-div:nth-child(3) {
  width: 40%;
  transition: .7s;
}

.menu-panel {
  background: var(--bg);
  width: 0;
  opacity: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 6em;
  display: none;
  transition: .2s;
  transition-timing-function: ease-in-out;
}

.menu-panel-item {
  color: var(--panel-txt);
  letter-spacing: .1em;
  font-weight: 600;
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-radius: .6em;
  opacity: 0;
  transition: .4s;
  gap: 1em;
}

.menu-panel-item-b {
  color: var(--panel-txt);
  letter-spacing: .1em;
  font-weight: 600;
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-radius: .6em;
  opacity: 0;
  transition: .4s;
  gap: 1em;
}

.menu-panel h3 {
  color: var(--panel-txt);
}

.high-score-display {
  font-weight: 600;
  padding: .7em;
  border-radius: .6em;
}

select {
  background: var(--bg);
  color: var(--panel-txt);
  letter-spacing: .1em;
  padding: 1em;
  border-radius: .6em;
  display flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: inset .2em .2em 1em var(--acnt-b);
}

select {
  cursor: pointer;
}

.display-field {
  top: 0;
  width: calc(var(--width) / 3);
  height: 4.5em;
  background: var(--main);
  box-shadow: var(--clr) 0 0 .1em .1em, inset -.5em -.5em .5em var(--bd), inset var(--acnt-a) .2em .2em 1em;
  border-radius: 0 0 2em 2em;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 1em;
  border-left: 3px outset var(--acnt-a);
  border-right: 3px outset var(--acnt-a);
  border-bottom: 3px outset var(--acnt-a);
}

.display-field-item {
  height: 2em;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--acnt-a);
  border: 2px inset var(--bd);
  border-top: 6px inset var(--bd);
  border-radius: 2em;
  color: var(--txt);
  font-size: .9em;
  font-weight: 600;
  padding: 1.5em 0;
  box-shadow: inset var(--acnt-inset) .2em .2em 1em;
  transition: .2s;
}

.main-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.field-areas {
  display: flex;
  width: 100%;
  padding: .2em 0;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  background: var(--main);
  box-shadow: var(--clr) 0 0 .2em .1em, inset -.9em -.9em 2em var(--bd);
  border-left: 4px outset var(--bd);
  border-right: 4px outset var(--bd);
  border-bottom: 4px outset var(--bd);
  border-radius: 50%;
}

.orb-field-area {
  height: 3em;
  width: calc(var(--width) / 3);
  display: flex;
  left: 0%;
  align-items: center;
  justify-content: center;
  background: var(--main);
  box-shadow: var(--bd) 0 0 .1em .1em, inset var(--acnt-a) .2em .2em .5em, inset var(--acnt-e) -.1em -.1em .2em;
  border: 2px inset var(--bd);
  border-right: 2px inset var(--bd);
  border-left: 6px outset var(--bd);
  border-top: 6px inset var(--bd);
  position: relative;
  border-radius: 0 100%;
  display: flex;
  padding: 2em;
  transform: rotate(5deg);
  overflow: hidden;
  transition: .4s;
}

.orb-field {
  height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main);
  background: var(--acnt-a);
  border-radius: 50%;
  display: flex;
  gap: .4em;
  padding: .9em;
  transform: rotate(10deg);
  border-top: 3px inset var(--bd);
  border-right: 2px inset var(--bd);
  border-bottom: 1px inset var(--bd);
  box-shadow: inset var(--acnt-inset) .1em .1em .5em;
}

.booster-field-area {
  height: 3em;
  width: calc(var(--width) / 3);
  display: flex;
  right: 0%;
  align-items: center;
  justify-content: center;
  background: var(--main);
  box-shadow: var(--bd) 0 0 .1em .1em, inset var(--acnt-a) .2em .2em .5em, inset var(--acnt-e) -.1em -.1em .2em;
  border: 2px inset var(--bd);
  border-left: 2px outset var(--bd);
  border-right: 6px inset var(--bd);
  border-top: 6px inset var(--bd);
  position: relative;
  border-radius: 100% 0;
  display: flex;
  padding: 2em;
  transform: rotate(-5deg);
  overflow: hidden;
  transition: .4s;
}

.booster-field {
  height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main);
  background: var(--acnt-a);
  border-radius: 50%;
  display: flex;
  gap: 1em;
  padding: .9em;
  transform: rotate(-10deg);
  border-top: 3px inset var(--bd);
  border-left: 2px outset var(--bd);
  border-bottom: 1px inset var(--bd);
  box-shadow: inset var(--acnt-inset) .1em .1em .5em;
}

.orb-item {
  width: .7em;
  height: .5em;
  background: var(--orb-inactive);
  border-radius: 50%;
  box-shadow: inset -.1em -.1em .1em var(--bd), var(--bd) 0 0 .1em .1em;
  transition: .4s;
}

.booster-item {
  width: .7em;
  height: .5em;
  background: var(--booster-inactive);
  border-radius: 50%;
  box-shadow: inset -.1em -.1em .1em var(--bd), var(--bd) 0 0 .1em .1em;
  transition: .4s;
}


.main-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-field);
  border: .2em outset var(--bd);
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  padding: .2em;
  transition: 2s;
  transition-timing-function: ease-out;
}

@keyframes main-field-osc {
  0% {
    transform: scale(100%);
  } 
  
  50% {
    transform: scale(99%);
  }

  100% {
    transform: scale(100%);
  } 
}

.main-field-border {
  display: flex;
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  border: var(--main-field-bw) outset var(--bd);
  box-shadow: var(--bd) 0 0 .5em .1em;
  transition: 2s;
  transition-timing-function: ease;
  overflow: hidden;
  background: var(--main);
  transform: scale(100%);
  animation: main-field-osc;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  position: relative;
}

.main-field-shader {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 4;
  transition: 2s;
  border-radius: 50%;
  box-shadow: inset -2em -2em 5em var(--acnt-a);
  opacity: 100;
}

.surface-shader {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--main);
  position: absolute;
  transition: .2s;
  transition-timing-function: ease-out;
  z-index: 0;
}

.droplet {
  background: radial-gradient(var(--droplet), var(--orb-active));
  width: 4.9em;
  height: 4.9em;
  position: absolute;
  border-radius: 50%;
  box-shadow: var(--droplet-acnt) 0 0 .1em .1em, inset -.5em -.5em .2em var(--bd);
  transition: .2s;
  transition-timing-function: ease-out;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}

.droplet:hover {
  background: var(--acnt-d);
}

.droplet-gl {
  position: absolute;
  border-radius: 50%;
  transition: .7s;
  transition-timing-function: ease-out;
  z-index: 2;
  opacity: 0;
}

.droplet-gl-b {
  position: absolute;
  border-radius: 50%;
  transition: .5s;
  transition-timing-function: ease-out;
  z-index: 1;
  opacity: 0;
}

.play {
  display: flex;
  width: 7em;
  height: 7em;
  background: var(--acnt-a);
  color: var(--txt);
  position: absolute;
  transition: .4s;
  opacity: 100;
  border-radius: 50%;
  box-shadow: var(--bd) 0 0 .2em .1em;
  z-index: 5;
  border: 2px outset var(--bd);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  left: calc(50% - (7em / 2));
  top: calc(100% / 1.5);
  align-self: right;
  box-shadow: inset var(--acnt-inset) .2em .2em 1em;
}

.play:hover {
  cursor: pointer;
  border: 2px outset var(--bd-b);
  box-shadow: inset var(--clear) .2em .2em 1em;
}

.play:active {
  color: var(--acnt-e);
  box-shadow: var(--clr) 0 0 .2em .1em;
  border: 2px outset var(--clr);
  transform: translateY(10px);
}

.play-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  border-top: 1em solid var(--clr);
  border-bottom: 1em solid var(--clr);
  border-left: 1.7em solid var(--play);
  transition: .4s;
  transition-timing-function: ease;
}

.play-shader {
  width: 0%;
  height: 100%;
  background: var(--acnt-a);
  left: 0;
  position: absolute;
}

.fill-shader {
  width: 100%;
  height: 0%;
  background: var(--droplet);
  bottom: 0;
  position: absolute;
}

@media (max-width: 1080px) {
  .outer-field {
    background: linear-gradient(var(--acnt-a), var(--acnt-a), var(--bg), var(--bg), var(--acnt-a));
    padding-top: 8em;
  }

  .menu {
    top: 1em;
    right: 1em;
  }

  .menu-panel {
    padding: 2em;
  }

  .display-field {
    width: var(--width);
    height: 9em;
    padding: .5em 1.5em;
    top: 1em;
    border-radius: 50%;
  }

  .display-field-item {
    width: 50%;
  }

  .orb-field-area {
    width: var(--width);
  }

  .orb-field {
    width: 50%;
  }

  .booster-field-area {
    width: var(--width);
  }

  .main-field-wrapper {
    gap: 3em;
  }

  .main-field {
    width: var(--width-b);
    height: var(--height-b);
  }

  .main-field-border {
    width: 100%;
    height: 100%;
    border: var(--main-field-bw-b) outset var(--bd);
  }

  .droplet {
    width: 3.9em;
    height: 3.9em;
  }

  .play {
    width: 6em;
    height: 6em;
  }
}

